.home{
    flex-grow: 1;
    min-width: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.home .title {
    width:100%;
    font-size:18px;
    text-align:center;

}

.home .title p{
    line-height:50px;

}

.home .title button {
    border:none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    margin-top:30px;
    color:black;
    padding: 10px 15px;
    border-radius:999px;
    background-color:rgb(199, 241, 248);
    font-family: 'Oxygen', sans-serif;
}
.home .person{
    width:100%;
    margin-top: 20px;
    
}
.home .person img{
    width:50%;
    border-radius:50%;
    
}
@media(min-width:800px){
    .home{
        flex-direction: row;
        justify-content:space-between;
    }
    .home .title,
    .home .person{
        width:50%;
    }
    .home .person img {
        width:80%;
        border-radius:50%;
    }
}