.navbar{
    height:100%;
}
.nav-wrapper{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;

}
.logo{
    display: flex;
    max-width:100px;
    height:100%;
    margin-bottom:20px;
}
.logo img{
    width:60%;
    margin-left:-18px;
}
.list-wrapper{
    display:flex;
    align-items:center;
}
.list-wrapper img{
    opacity:1;
    z-index:4;
    width:40px;
    right:15px;
    padding:8px;
    position:absolute;
    border-radius: 999px;
    background-color:#dddddd;
    transition:all 0.5s ease-in-out;
}
.list-wrapper ul {
    top:0;
    left:-100vw;
    z-index: 3;
    width: 100%;
    height: 86vh;
    padding-top:140px;
    text-align: center;
    position:absolute;
    transition:all 0.5s ease-in-out;
    background-color:rgba(0, 0, 0, 0.8);

}

.list-wrapper ul li{
    list-style: none;
    margin-bottom:15px;
}

.list-wrapper ul li a{
    display:block;
    font-size:24px;
    padding:10px 0;
    color:rgb(199, 241, 248);
    text-decoration:none;
    transition:all 0.3s ease-in-out;
}
.list-wrapper ul li a:hover{
    color:#000000;
    background-color:rgb(199, 241, 248);
}

@media(min-width:800px){

    .list-wrapper img{
        display:none
    }
    .list-wrapper ul{
        padding:0;
        width:100%;
        height:100%;
        text-align:left;
        position:relative;
        background-color:transparent;
    }
    .list-wrapper ul li{
        display:inline-block;
        margin-bottom:0;
    }

    .list-wrapper ul li:not(:last-child){
        margin-right:10px;
    }

    .list-wrapper ul li a {
        padding:5px;
        color: #000000;
    }
    .list-wrapper ul li a:hover {
        padding:5px;
        color: #333;
        transform: scale(0.8);
        background:transparent;
    }

}