*{
  padding:0;
  margin:0; 
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(199, 241, 248);
}

body::-webkit-scrollbar{
  display:none;
}
body{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

code {
  font-family: 'Oxygen', sans-serif;
}

.container{
  margin:0 auto;
  padding:0 15px;
  max-width:1280px;
}
p{
  line-height: 30px;
  font-family: 'Oxygen', sans-serif;
}

h1,h2{
  font-family: 'Oxygen', sans-serif;
}